<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="panel-title">Contacts <a href="#" class="btn btn-default btn-success pull-right" role="button">New Contact</a></h3>
    </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <cms-contact-item
          *ngFor="let contactElement of contacts"
          [contact]="contactElement"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</div>